Repository robocupjunioraustralia/RCJA_Registration_System, pull requests merged in 2025-01, with the labels that each got.

#712 Add creation date/time to workshop attendee admin/csv export
  rcjaRegistration/workshops/admin.py
Labels: enhancement

#719 Add invoice override feature
  rcjaRegistration/events/admin.py
  rcjaRegistration/events/migrations/0028_baseeventattendance_invoiceoverride.py
  rcjaRegistration/events/models.py
  rcjaRegistration/invoices/models.py
  rcjaRegistration/invoices/tests/tests_legacy.py
  rcjaRegistration/teams/admin.py
  rcjaRegistration/teams/models.py
  rcjaRegistration/teams/tests/test_adminPermissions.py
  rcjaRegistration/teams/tests/tests_legacy.py
  rcjaRegistration/workshops/admin.py
  rcjaRegistration/workshops/models.py
  rcjaRegistration/workshops/tests.py
Labels: feature

#496 Add admin tests
  rcjaRegistration/common/baseTests/__init__.py
  rcjaRegistration/common/baseTests/populateDatabase.py
  rcjaRegistration/coordination/permissions/admins.py
  rcjaRegistration/events/admin.py
  rcjaRegistration/events/tests/test_adminPermissions.py
  rcjaRegistration/regions/admin.py
  rcjaRegistration/regions/tests/test_adminPermissions.py
  rcjaRegistration/workshops/tests.py
  rcjaRegistration/workshops/tests/__init__.py
  rcjaRegistration/workshops/tests/test_adminPermissions.py
  rcjaRegistration/workshops/tests/tests_legacy.py
Labels: enhancement, tests

#730 Fix clean tests to fail and not error
  rcjaRegistration/coordination/tests/test_modelMethods.py
  rcjaRegistration/eventfiles/tests.py
  rcjaRegistration/events/tests/test_cmsIntegration.py
  rcjaRegistration/events/tests/tests_legacy.py
  rcjaRegistration/regions/tests/test_unitTests.py
  rcjaRegistration/regions/tests/tests_legacy.py
  rcjaRegistration/schools/tests/test_unitTests.py
  rcjaRegistration/schools/tests/tests_legacy.py
  rcjaRegistration/teams/tests/tests_legacy.py
  rcjaRegistration/users/tests/test_unitTests.py
  rcjaRegistration/workshops/tests/tests_legacy.py
Labels: tests
